@import url('/css/fonts.css');
header, aside, footer, nav, section, article {
  display: block;
}

body {
  background-color: #fdfeff;
  color: #1a100c;
  font-family: "Poly", serif;
  font-size: 100%;
  margin: 0;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}
