@import url('/css/fonts.css');
header, aside, footer, nav, section, article {
  display: block;
}

body {
  background-color: #fdfeff;
  color: #1a100c;
  font-family: "Poly", serif;
  font-size: 100%;
  margin: 0;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}

#equation {
  color: black;
  font-family: "Sorts Mill Goudy";
  margin: 4em auto 0 auto;
  width: 46em;
}
#equation #summation {
  display: table-row;
  vertical-align: middle;
}
#equation #summation #operator {
  float: left;
}
#equation #summation #operator span {
  display: block;
  text-align: center;
}
#equation #summation #operator #sigma {
  font-family: "Cardo", serif;
  font-size: 22em;
  line-height: 0.8;
  position: relative;
  top: 0.020em;
  z-index: -1;
}
#equation #summation #operator #upper_bound, #equation #summation #operator #lower_bound {
  font-size: 2em;
  line-height: 1;
}
#equation #summation #value {
  display: table-cell;
  font-size: 7em;
  text-align: center;
  vertical-align: middle;
}
#equation #summation #value sub {
  font-size: 0.5em;
  height: 0;
  line-height: 0;
}

#about > pre {
  font-family: "Poly", serif;
  text-align: center;
}

#links > ul {
  font-family: "Poly", serif;
  font-size: 1.2em;
  list-style-type: none;
  margin-left: 11.5em;
  padding-left: 1.4em;
  position: relative;
  text-align: center;
  top: -5.5em;
}
#links > ul:before {
  content: "=";
}
#links > ul li {
  display: inline-block;
}
#links > ul li + li:before {
  content: "+";
  display: inline-block;
  margin: 0 0.55em 0 0.3em;
}
#links > ul a:link, #links > ul a:visited {
  border-bottom: thin solid black;
  color: black;
  text-decoration: none;
}
#links > ul a:link:hover, #links > ul a:visited:hover {
  border-bottom: thin solid #37516b;
  color: #37516b;
  text-shadow: white 0 0 8px, #7e9ebd 0 0 30px;
}
