@import url("/css/basic.css");

header {
    border-bottom: 2px solid #dddde0;
    margin: 0 auto;
    margin-bottom: 4em;
    padding-bottom: 4px;
    width: 36em;
}

h1 {
    border-bottom: 1px solid #dddde0;
    color: #aaaab0;
    font-size: 6em;
    font-weight: 100;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0.2em;
    text-align: center;
}

div#links {
    margin: 0 auto;
    text-align: center;
}

div#links ul {
    font-size: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

div#links ul li {
    display: inline;
    line-height: 0.6em;
    margin: 0 0.7em;
}

div#links a:link, div#links a:visited {
    color: #bbbbc0;
    text-decoration: none;
}

div#links a:link:hover, div#links a:visited:hover {
    color: #888890;
}

section#about {
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 3em;
    width: 25em;
}

section#about p {
    margin-top: 0;
    margin-bottom: 0;
}

section#about p + p {
    margin-top: 0;
    text-indent: 1.5em;
}

section#about a:link, section#about a:visited {
    border-bottom: 1px solid #dddde0;
    //color: #777777;
    color: inherit;
    margin-bottom: -1px;
    text-decoration: none;
}
