@import url("/css/basic.css");

body {
    padding: 20px;
}

header p {
    font-size: 36px;
    margin: 0;
}

span.name {
    color: #8899ee;
    display: inline;
}

p[lang=en], p[lang=es], p[lang=ja] {
    clear: right;
    float: right;
}

p[lang=ja] {
    font-family: "Firefly", "AR PL New Sung", serif;
    margin-top: 10px;
}

p[lang=ja] span.name {
    display: inline-block;
    width: 36px;
}

p[lang=ja] span.name_separator,
p[lang=ja] span.end_of_sentence {
    display: inline-block;
    width: 36px;
}

p[lang=ja] span.line {
    display: block;
    float: right;
    padding: 0 6px;
    width: 36px;
}

section#about {
    bottom: 30px;
    left: 30px;
    position: absolute;
}

section#about pre {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    margin: 0;
}
