---
---
@import "reset.css";

html, body {
  font-size: 100%;
  margin: 0;
  max-height: 100%;
  min-height: 100%;
}

body {
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

#under-construction {
  background-color: yellow;
  color: black;
  display: flex;
  font-family: 'Comic Sans MS', 'Impact', cursive;
  font-size: min(13vw, 30vh);
  font-weight: 800;
  height: 100%;
  max-height: 100%;
  
  align-items: center;
  justify-items: center;

  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: yellow;
  }

  p {
    margin: 0 auto;
    text-align: center;
  }
}
