@import url('/css/fonts.css');
header, aside, footer, nav, section, article {
  display: block;
}

body {
  background-color: #fdfeff;
  color: #1a100c;
  font-family: "Poly", serif;
  font-size: 100%;
  margin: 0;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}

body {
  margin: 2em;
}

header {
  border-bottom: thin solid #7e9ebd;
  margin-bottom: 1.5em;
}
header h1 {
  color: #1a100c;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 2.6em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: -0.5em;
}
header time {
  color: #7e9ebd;
  float: right;
  font-family: "Actor", sans-serif;
  position: relative;
  top: -0.1em;
}

article {
  font-family: "Poly", serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 40em;
}
article p {
  text-align: justify;
  width: 30em;
}
article hr {
  border: none;
  border-bottom: thin dotted #7e9ebd;
  margin-left: 5em;
  width: 20em;
}
article pre.poetry {
  font-family: "Poly", serif;
}
