header, aside, footer, nav, section, article {
    display: block;
}

body {
    background-color: #eeeeee;
    color: #7d0000;
    font-family: "Molengo", sans-serif;
    font-size: 100%;
    margin: 0;
}

a:link, a:visited {
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    font-style: normal;
}

.ottoman {
    background-color: #7d0000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    bottom: 0;
    box-shadow: 0 0 8px #777777;
    -moz-box-shadow: 0 0 8px #777777;
    -webkit-box-shadow: 0 0 8px #777777;
    color: #ffffff;
    height: 140px;
    min-width: 140px;
    position: absolute;
    text-align: center;
    width: 150px;
}

header.ottoman {
    //right: 15px;
    right: 180px;
    text-transform: uppercase;
}

header.ottoman h1 {
    font-size: 2.1em;
}

#links.ottoman {
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    //right: 180px;
    right: 15px;
}

#links ul {
    list-style-type: none;
    padding: 0;
}

section#about {
    background-color: #7d0000;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5;
    position: absolute;
    top: 100%;
    width: 100%;
}

section#about #sillyContainer {
    margin: 0 auto;
    padding: 2em;
    width: 24em;
}

section#about p {
    margin-top: 0;
    margin-bottom: 0;
}

section#about p + p {
    margin-top: 0;
    text-indent: 1.5em;
}
