@import "nib"
global-reset()

// These will be hashes eventually,
// but right now I'm too lazy to update stylus in LiveReload.
color-main = #00bfff
color-main-light = #73dcff
color-accent = #ff2800

typeface-header = "Sorts Mill Goudy", serif;
typeface-body = "Source Sans Pro", sans-serif;

html {
  height: 100%;  /* Hack for making the name div full screen. I hate it. */
}
body {
  background-color: white;
  border-bottom: 0.3em solid color-accent;
  font: 300 100% typeface-body;
  height: 168%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  p {
    margin: 1em auto;
    font-size: 1.7em;
    text-align: justify;
    width: 60ex;
  }

  h2 {
    font: italic 400 4em typeface-header;
    color: color-accent;
    margin-top: 0.4em;
    text-align: center;
  }
}
#stupid-container-div {
  height: 100%;
  overflow: hidden;
}
.subhead {
  font: italic 400 1em typeface-header;
  color: color-accent;

  &.cell {
    line-height: 1.3;
    height: 1em;
  }
}

.parallaxy-name {
  font: 400 8em typeface-header;
  height: 100%;  /* This makes scrolling waaaay smoother in WebKit. Obviously. */
  margin: 0;
  // padding: 1.8em 0;
  text-align: center;
  width: 100%;
}
h1.parallaxy-name {
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
}

#name {
  background-color: color-main;
  color: #eeeeff;
  height: 59.52%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1990;

  h1 {
    color: #ffffff;
    z-index: 1990;
  }
}
#about {
  h1 {
    color: #ffffff;
    text-shadow: #ffffff 0 0 0.2ex, color-main 0 0 0.3ex,color-main 0 0 0.1ex;
    z-index: 322;
  }
  h2 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
  }
}

#automaton {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#link-glider {
  font-size: 55px;
  margin: 0.8em auto 1.9em auto;
  position: relative;
  text-align: center;
  z-index: 31337;

  .cell {
    // height: 1.3em;  // I don't know what Firefox does with this...
    width: 1.3em;
  }
  .cell-on {
    background: color-main-light;
  }

  a:link, a:visited {
    color: white;
    margin: -0.2em;
    padding: 0.2em;
    text-decoration: none;

    &:hover {
      text-shadow: color-main 0 0 0.1em, #ffffff 0 0 0.5em;
    }
  }
}

.totally-not-a {
  &.table {
    border-spacing: 1px;
    display: table;
  }
  &.tbody {
    display: table-row-group;
  }
  &.tr {
    display: table-row;
  }
  &.td {
    display: table-cell;
    margin: 0;
    padding: 0;
  }
}

