body {
  background-color: white;
  border-bottom: 0.3em solid #ff2800;
  font: 300 100% "Source Sans Pro";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  p {
    margin: 1em auto;
    font-size: 1.7em;
    text-align: justify;
    width: 60ex;
  }

  h2 {
    font: italic 400 4em "Sorts Mill Goudy";
    color: #ff2800;
    margin-top: 0.4em;
    text-align: center;
  }
}

.parallaxy-name {
  font: 400 8em "Sorts Mill Goudy";
  height: 100%;  /* This makes scrolling waaaay smoother in WebKit. Obviously. */
  margin: 0;
  padding: 1.8em 0;
  text-align: center;
  width: 100%;
}
h1.parallaxy-name {
  position: absolute;
  top: 0;
}

#name {
  background-color: #00bfff;
  color: #eeeeff;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1990;

  h1 {
    color: #ffffff;
    z-index: 1990;
  }
}
#about {
  h1 {
    color: #ffffff;
    text-shadow: #ffffff 0 0 0.2ex, #00bfff 0 0 0.3ex,#00bfff 0 0 0.1ex;
    z-index: 322;
  }
  h2 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
  }
}

#automaton {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#link-glider {
  font-size: 55px;
  margin: 0.8em auto 1.9em auto;
  position: relative;
  text-align: center;
  z-index: 31337;

  a:link, a:visited {
    color: white;
    margin: -0.2em;
    padding: 0.2em;
    text-decoration: none;

    &:hover {
      text-shadow: #00bfff 0 0 0.1em, #ffffff 0 0 0.5em;
    }
  }
}

table {
  border-spacing: 1px;

  td {
    height: 1.3em;
    margin: 0;
    padding: 0;
    width: 1.3em;

    &.cell-on {
      background: #73dcff;
    }
  }
}
