body {
    background-color: #f5f5f5;
    color: #656565;
    font-family: "Palatino", serif;
    font-size: 10pt;
    padding: 40px;
    padding-bottom: 0;
}

/* Basic styles */
a:link, a:visited {
    color: #001b96;
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    text-decoration: underline;
}
blockquote {
    border-left: 2px dotted #000000;
    font-size: 100%;
    margin: 1.5em 0 1.5em 1ex;
    padding-right: 1.5ex;
    padding-left: 1ex;
}
code, pre {
    font-family: "Courier New", "Courier", "Andale Mono", monospace;
}
h2, p.prominent {
    color: #000000;
    font-family: "Palatino", serif;
    font-size: 20pt;
    font-weight: normal;
    line-height: 1.1em;
    text-shadow: #c0c0c0 0 0 4px;
}
p {
    margin: 1em 0;
}

.prominent {
    margin: 2em 0;
}
ul.prominent {
    font-size: 16pt;
    list-style-type: none;
    margin: 0;
    padding-left: 2ex;
}
ul.prominent li {
    line-height: 1.5em;
}
.standout {
    color: #000000;
}

/* Header styles */
div#header {
    margin-bottom: 60px;
}
div#header h1 {
    font-family: "Georgia", serif;
    font-size: 40pt;
    font-weight: 100;
    margin: 0;
}
div#header em {
    color: #000000;
    font-style: normal;
    text-shadow: #c0c0c0 0 0 8px;
}
div#header a:link, div#header a:visited {
    color: #000000;
}
div#header div#description p {
    font-size: 20pt;
    margin: 0;
}

/* Main content styles */
div#content {
    line-height: 1.5em;
    text-align: left;
    width: 600px;
}

/* Footer styles */
p#footer a:link, p#footer a:visited {
    color: #000000;
}

/* "Fancy" stuff */
.collapsible .text {
    display: none;
}
.collapsible:hover .text {
    display: inline;
}
.collapsible:hover .symbol {
    display: none;
}

/* Style for text-only browsers (like lynx and links) */
.text_only {
    display: none;
}

/* Portfolio styles */
.portfolio_item h2 {
    margin-bottom: 0;
}
.portfolio_item .item_summary {
    font-size: 14pt;
    margin-top: 0;
}
.portfolio_item .item_summary a.expand {
    color: #d5d5d5;
}