@import url('/css/fonts.css');

header, aside, footer, nav, section, article {
  display: block;
}

$accent: #7e9ebd;
$foreground: #1A100C;
$background: #fdfeff;

body {
  background-color: $background;
  color: $foreground;
  font-family: "Actor", serif;
  font-size: 100%;
  margin: 0;
}

article {
  margin: 0 auto;
  width: 37em;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}
