@import url('/css/fonts.css');

header, aside, footer, nav, section, article {
  display: block;
}

$accent: #7e9ebd;
$foreground: #1A100C;
$background: #fdfeff;

$headerFont: "Sorts Mill Goudy", serif;
$bodyFont: "Poly", serif;

body {
  background-color: $background;
  color: $foreground;
  font-family: $bodyFont;
  font-size: 100%;
  margin: 0;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}
