@import "basic";

body {
  margin: 2em;
}

header {
  border-bottom: thin solid $accent;
  margin-bottom: 1.5em;
  h1 {
    color: $foreground;
    font-family: "Sorts Mill Goudy", serif;
    font-size: 2.6em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -0.5em;
  }

  time {
    color: $accent;
    float: right;
    font-family: "Actor", sans-serif;
    position: relative;
    top: -0.1em;
  }
}

article {
  font-family: $bodyFont;
  line-height: 1.5;
  margin: 0 auto;
  width: 40em;

  p {
    text-align: justify;
    width: 30em;
  }

  hr {
    border: none;
    border-bottom: thin dotted $accent;
    margin-left: 5em;
    width: 20em;
  }

  pre.poetry {
    font-family: $bodyFont;
  }
}
